<h3>Ange ISBN för att hämta information automatiskt</h3>

@using (Ajax.BeginForm(actionName: "GetInfoFromAdlibris", controllerName: "Admin", routeValues: null,
    ajaxOptions: new AjaxOptions { UpdateTargetId = "target", HttpMethod = "POST" },
    htmlAttributes: new { @class = "form-inline", role = "form", id ="frmGetAdlibrisInfo" }))
{

    @Html.AntiForgeryToken()
    if (!string.IsNullOrWhiteSpace(ViewBag.Error))
    {
        <div id="error" class="alert alert-danger">@ViewBag.Error</div>
    }

    <div class="form-group">
        <label class="sr-only" for="ISBN">ISBN:</label>
        @Html.TextBox("ISBN", value: null, htmlAttributes: new { @class = "form-control", placeholder = "Ange ISBN" })
    </div>
    <button type="submit" class="btn btn-default">Hämta information</button>

}