<h3>Ange ISBN för att hämta information automatiskt</h3>

@using (Ajax.BeginForm("GetInfoFromAdlibris", "Admin", null, new AjaxOptions
{
    UpdateTargetId = "target",
    HttpMethod = "POST",
    LoadingElementId = "loaderDiv",
    OnFailure = "showXHRError"
}, new {@class = "form-inline", role = "form", id = "frmISBN"}))
{
    @Html.Partial("_GetBookInfoFromISBN")
}