
@{
    ViewBag.Title = "Adminsidan";
}
<div id="target">
    <div>
        <h3>Välkommen till Adminsidan!</h3>
        <p>Här kan du lägga till nya böcker, editera böcker eller radera böcker.</p>
    </div>


</div>


