<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- This key is for Application Insights resource 'MVC' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>4919596c-e3e4-474a-b58a-89086166679f</InstrumentationKey>
</ApplicationInsights>